<legend>Main menu</legend>
			#if ($wrongPassword)$wrongPassword
			#end
			
			#if ($noSuchUser)$noSuchUser
			#end
			
<form method="post" action="" id="login">	
	    		<div class="formGroup">
	                    <label for="user">Username:</label>
	                    <input type="text" id="user" name="username"/>
	            </div>
	            <div class="formGroup">
	                    <label for="pass">Password:</label>
	                    <input type="password" id="pass" name="password"/>
	            </div>
	            <div class="formGroup">
	                    <input type="submit" value="Login" id="login">
	            </div>
</form>	
Still not a member?<a id="reg" href="../register">Register</a></br>