<fieldset class="menu">
    		$wrongPassword
    		#if($wrongPassword)
    			$wrongPassword
    		#end
    		#if($noSuchUser)
    			$noSuchUser
    		#end
    	
    		
    		#if($sessionUsername)
    			#parse("user/userData.vm")
    		#else
    			#parse("user/notAUser.vm") 		
    		#end
    		    		
</fieldset>