<table class="attendees" border="1">
<tr>
	<thead>
	<th>Name</th>
	<th>Email address</th>
	</thead>
	<tbody>
	#if($attendeesList)
		#foreach($attendee in $attendeesList)
			<tr data-id="1">
                <td>$attendee.participantName</td>
                <td>$attendee.participantEmail</td>               
     		</tr>
     	#end
     #end
	</tbody>
</tr>


</table>