<table class="attendees" border="1">
<tr>
	<thead>
	<th>Name</th>
	<th>Email address</th>
	</thead>
	<tbody>
	<tr data-id="1">
                <td>Petras</td>
                <td>Petrauskis</td>               
     </tr>
     <tr data-id="2">
                <td>Petras</td>
                <td>Petrauskis</td>               
     </tr>
	</tbody>
</tr>


</table>