#if ($conferenceList.size() > 0)
    <table class="conferenceList">
        <thead>
        <tr>
            <th id>Conference name</th>
            <th id="time">Starts</th>
            <th id="time">Ends</th>
            <th id>Category</th>
            <th id>Location</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
            #foreach($conference in $conferenceList)
            <tr data-id="$conference.getId()">
                <td>$conference.getName()</td>
                <td id="time">$conference.getStartDate($dateFormat)</td>
                <td id="time">$conference.getEndDate($dateFormat)</td>
                <td>$conference.getCategory()</td>
                <td>$conference.getLocation()</td>
                <td><a href="/conference/join?id=$conference.getId()" class="join">Participate</a></td>
            </tr>
            #end
        </tbody>
    </table>
#end