<!DOCTYPE html>
<html>
    <head>
        <title>Conference list</title>
        <link rel="stylesheet" href="//code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.min.css" type="text/css">
        #parse("blocks/head.vm")
    </head>
    <body>
    	<header>
    		<p>Conferences.Usually funny,sometimes boring.</p>
    	</header>
    	
		#parse("loginForm.vm")
		
        #parse("conference/filter.vm")

        <fieldset>
            <legend>Conference list:</legend>
            <div id="conference">
                #if ($conferenceList)
                    #parse("conference/items.vm")
                #end
            </div>
    
        </fieldset>
       	<fieldset>
       		<legend>Participating in these conferences:</legend>
        		#if(true)
            		#parse("conference/participatedConferences.vm")
            	#end
         </fieldset>
        <div id="conferenceForm"></div>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
        <script src="/resources/js/list.js"></script>
        <script src="/resources/js/login.js"></script>
        
        
    </body>
</html>