#if ($participatingConferencesList.size() > 0)	
    <table class="conferenceList">
       <thead>
        <tr>
            <th id>Conference name</th>
            <th id="time">Starts</th>
            <th id="time">Ends</th>
            <th id>Category</th>
            <th id>Location</th>
            <th id> </th>    
        </tr> 
        </thead>
        <tbody>
        
   			 #foreach($participatedConference in $participatingConferencesList)
	            <tr data-id="1">
	                <td>$participatedConference.conferenceName</td>
	                <td id="time">$participatedConference.getStartDate($dateFormat)</td>
	                <td id="time">$participatedConference.getEndDate($dateFormat)</td>
	                <td> $participatedConference.category</td>
	                <td>$participatedConference.location</td>
	                <td><a href="exit?id=$participatedConference.conferenceId">Exit</a></td>    
	            </tr>
             #end
          
        </tbody>
    </table>
#end