
    <table class="conferenceList">
       <thead>
        <tr>
            <th id>Conference name</th>
            <th id="time">Starts</th>
            <th id="time">Ends</th>
            <th id>Category</th>
            <th id>Location</th>
            
        </tr> 
        </thead>
        <tbody>
        #if ($participatingConferencesList)
   			 #foreach($participatedConference in $participatingConferencesList)
            <tr data-id="1">
                <td>$participatedConference.conferenceName</td>
                <td id="time">$participatedConference.getStartDate($dateFormat)</td>
                <td id="time">$participatedConference.getEndDate($dateFormat)</td>
                <td> $participatedConference.categoryName</td>
                <td>$participatedConference.location</td>
                
            </tr>
            #end
          #end
        </tbody>
    </table>
