<!DOCTYPE html>
<html>
    <head>
        <title>Conference sign</title>
        <link rel="stylesheet" href="/resources/css/conferenceSignUp.css" type="text/css">
    </head>
    <body>
    	<header>
    		<p>Conferences.Usually funny,sometimes boring.</p>
    	</header>
            <fieldset id="info">
                <legend>Conference info</legend>
                $conference.conferenceId 
                $userId
                
                <div class="formGroup">
                    <label for="confName">Conference name:</label>
                    <label for="">$conference.conferenceName</label></br>
                </div>
                 <div class="formGroup">
                    <label for="startDate">Start date</label>
                    <label for="">$conference.startDate</label></br>
                </div>
                <div class="formGroup">
                    <label for="endDatew">End date</label>
                    <label for="">$conference.endDate</label></br>
                </div>
                <div class="formGroup">
                	<label for="category">Category</label>
                	<label for="">$conference.category</label></br>
                </div>
                <div class="formGroup">
                    <label for="location">Location:</label>
                    <label for="">$conference.location</label></br>
                </div>
                <div class="description">
	                <label for="desc">Description:</label></br>
	                <label for="desc">$conference.description </label></br>
                </div>
                 
                <fieldset id="attendees">
            	 	<legend>Attendees</legend>
            	 	#parse("conference/attendees.vm")
            	</fieldset>
            	#if($alreadyParticipating)
            		<form method="post" action="exit">
	                	<input type="hidden" name="id" value="$conference.conferenceId">
		        		<div class="exitGroup">
		                    <input type="submit" value="Exit" id="exit">
		                </div> 
       			 	</form>	
            	#else	
            		<form method="post" action="signUp">
		        		<input type="hidden" name="hiddenUserId" id="hiddenUserId" value="$userId">
	                	<input type="hidden" name="hiddenConferenceId" value="$conference.conferenceId">
		        		<div class="formGroup">
		                    <input type="submit" value="Sign Up" id="signup">
		                </div> 
       			 	</form>	
            	#end
				 

                <a href="../conference/" ><img id="backbutton" src="/resources/images/back.png" width=128></a>   
            </fieldset>            
       
          	
			<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        	<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
        	<script src="/resources/js/list.js"></script>     

    </body>
</html>